/* Charity: water Brand Colors

Primary Colors:
- Yellow:     #FFC907
- Blue:       #2E9DF7

Secondary Colors:
- Light Blue: #8BD1CB
- Green:      #4FCB53
- Orange:     #FF902A
- Red:        #F5402C
- Dark Green: #159A48
- Pink:       #F16061

*/

:root {
    --yellow: #FFC907;
    --blue: #2E9DF7;
    --light-blue: #8BD1CB;
    --green: #4FCB53;
    --orange: #FF902A;
    --red: #F5402C;
    --dark-green: #159A48;
    --pink: #F16061;

    /* Additional colors */
    --grey: grey;

    --jerry-z: 5; /* z-index for Jerry */
    --game-world-z: -10; /* z-index for the game world */
    --droplet-z: 0; /* z-index for the droplet */
}

* {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;

    user-select: none;
}

body {
    width: 100%;
    height: 100dvh;
    margin: 0;
    overflow-y: hidden;
}

.game-world {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    width: 500px;
    max-width: 100%;
    height: 100%;
    margin: auto;
    background-color: grey;

    z-index: 10;
}

.jerry-rail {
    display: flex;
    justify-content: start;
    align-items: center;

    height: 5px;
    background-color: #222;
    width: 80%;
    margin: auto;
    /* Position the rail 80% down the height of .game-world */
    position: relative;
    left: 0;
    right: 0;
    top: 85%;
    transform: translateY(-50%);
}

.jerry {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 3.5rem;
    height: 2rem;
}

.jerry img {
    position: absolute;
    --jerry-size: 7.5rem;

    width: var(--jerry-size);
    height: var(--jerry-size);
}

.droplet {
    position: absolute;
    top: -10%;
    transition: top 1.5s linear;
    transition-timing-function: linear;
}

.droplet.dropped {
    top: 100%;
}

.droplet-image {
    width: 3.5rem;
    height: 3.5rem;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.score {
    display: inline-block;
    width: 100%;
    text-align: center;

    font-size: 300%;
    position: absolute;
    left: 0;
    top: 1.5rem;
}

.shop-button::before {
    display: block;
    content: "";
    mask-image: url("img/shopping-cart.svg");
    mask-size: 5rem;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: black;
    background-repeat: no-repeat;

    width: 5rem;
    height: 5rem;

    transition: background-color 0.2s;
}

.shop-button:hover::before {
    background-color: var(--yellow);
}

.shop-button {
    width: 5rem;
    height: 5rem;

    background: none;
    border: none;
    position: absolute;
    top: 1rem;
    right: 5%;

    outline: none;
}

.shop-button:hover {
    cursor: pointer;
}

.shop.visible {
    display: block;
    visibility: visible;
    opacity: 1;
}

.shop {
    visibility: hidden;
    opacity: 0;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    width: 500px;
    max-width: 100%;
    height: 100%;
    margin: auto;
    background-color: #0009;

    backdrop-filter: blur(5px);

    z-index: 10;

    transition: all 0.3s ease-in-out;
}

.balance img {
    width: 3.5rem;
    height: 3.5rem;
}