/* Charity: water Brand Colors

Primary Colors:
- Yellow:     #FFC907
- Blue:       #2E9DF7

Secondary Colors:
- Light Blue: #8BD1CB
- Green:      #4FCB53
- Orange:     #FF902A
- Red:        #F5402C
- Dark Green: #159A48
- Pink:       #F16061

*/

:root {
    --yellow: #FFC907;
    --blue: #2E9DF7;
    --light-blue: #8BD1CB;
    --green: #4FCB53;
    --orange: #FF902A;
    --red: #F5402C;
    --dark-green: #159A48;
    --pink: #F16061;

    /* Additional colors */
    --grey: grey;

    --jerry-z: 5; /* z-index for Jerry */
    --game-world-z: -10; /* z-index for the game world */
    --droplet-z: 0; /* z-index for the droplet */
}

* {
    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;

    user-select: none;

    color: #eee;
}

body {
    width: 100%;
    height: 100dvh;
    margin: 0;
    overflow: hidden;

    background-color: #090955;
}

.game-world {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    width: 500px;
    max-width: 100%;
    height: 100%;
    margin: auto;
    background-color: darkblue;

    z-index: 10;
}

.jerry-rail {
    display: flex;
    justify-content: start;
    align-items: center;

    border: 2.5px solid white;
    border-radius: 5px;

    height: 0px;
    background-color: #222;
    width: 80%;
    margin: auto;
    /* Position the rail 80% down the height of .game-world */
    position: relative;
    left: 0;
    right: 0;
    top: 85%;
    transform: translateY(-50%);
}

.jerry {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    transform: translateY(-1.5px);
    width: 3.5rem;
    height: 2rem;

    transition: transform .35s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.jerry img {
    position: absolute;
    --jerry-size: 7.5rem;

    width: var(--jerry-size);
    height: var(--jerry-size);
}

.droplet {
    position: absolute;
    top: -10%;
    transition: top 1.5s linear;
    transition-timing-function: linear;
}

.droplet.dropped {
    top: 100%;
}

.droplet::before {
    display: block;
    content: "";
    mask-image: url("img/droplet.svg");
    mask-size: 3.5rem;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: var(--blue);
    background-repeat: no-repeat;
    
    width: 3.5rem;
    height: 3.5rem;
}

.droplet.rare::before {
    background-color: var(--yellow);
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.score {
    display: inline-block;
    width: 100%;
    text-align: center;

    font-size: 300%;
    position: absolute;
    left: 0;
    top: 1.5rem;
}

.shop-button::before {
    display: block;
    content: "";
    mask-image: url("img/shopping-cart.svg");
    mask-size: 5rem;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: #eee;
    background-repeat: no-repeat;

    width: 5rem;
    height: 5rem;

    transition: background-color 0.2s;
}

.shop-button:hover::before {
    background-color: var(--yellow);
}

.shop-button {
    width: 5rem;
    height: 5rem;

    background: none;
    border: none;
    position: absolute;
    top: 1rem;
    right: 5%;

    outline: none;
}

.shop-button:hover {
    cursor: pointer;
}

.shop.visible {
    display: block;
    visibility: visible;
    opacity: 1;
}

.shop {
    visibility: hidden;
    opacity: 0;

    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    width: 500px;
    max-width: 100%;
    height: 100%;
    margin: auto;
    background-color: #0006;

    backdrop-filter: blur(5px);

    z-index: 10;

    transition: all 0.3s ease-in-out;
}

.shop-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

}

.close-shop:hover {
    color: var(--yellow);
}

.close-shop {
    background: none;
    border: none;

    font-size: 500%;

    margin-left: 1rem;

    transition: color 0.25s;
}

.shop-h2 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 300%;
} 

.balance {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--blue);
    font-size: 150%;

    border: 3px var(--blue) solid;
    border-radius: 10px;
    padding: 2px 5px;
    padding-left: 5ch;
    background: #f2f2f2;
    color: black;
}

.shop-balance {
    color: black;
    font-weight: 500;
}

.img-container {
    position: relative;
}

.balance img {
    position: absolute;
    right: 3ch;
    transform: translateY(-50%);
    width: 3.5rem;
    height: 3.5rem;
}

.upgrades {
    width: 85%;
    margin: auto;
}

.upgrade {
    background-color: #eee;
    border-radius: 12.5px;
    padding: 10px;

    font-size: 110%;

    margin-bottom: 15px;

    border: 4.5px solid #222;

    transition: transform .3s ease-out, background-color .2s ease-out;
}

.upgrade:hover {
    background-color: var(--yellow);
    transform: scale(1.1);
}

.upgrade * {
    color: black;
}

.upgrade .bottom {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

.upgrade .bottom .p {
    display: block;
}

.cost {
    display: flex;
    width: 30%;
    justify-content: flex-end;

    font-size: 125%;
}

.cost::before {
    display: block;
    content: "";

    position: relative;

    mask-image: url('img/droplet.svg');
    background-color: var(--blue);

    mask-size: 1em;

    mask-position: center;
    mask-repeat: no-repeat;
    background-repeat: no-repeat;

    width: 1em;
    height: 1em;
}